.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  color: $secondary-color;
  display: flex;
}

.auth-container {
  @extend .container;
  flex-direction: column;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

aside {
  width: 30%;
}

section {
  width: 70%;
}
